*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Shared between some sections */

.section-center {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: center;
  padding-top: 3rem;
}

h3 {
  font-size: 36px;
  margin-top: 0;
}

/* First section */

#firstWrapper {
  background-color: #6e2937;
  display: flex;
  justify-content: center;
}

#first {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  flex: 1;
  padding: 1rem 14rem 7rem;
  gap: 7rem;
}

#header,
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerLogo {
  font-size: 24px;
  font-weight: 600;
}

#headerNav {
  display: flex;
  gap: 2rem;
}

#heroLeft h2,
#heroLeft button,
#headerLogo {
  color: white;
}

#hero {
  gap: 2rem;
}

#heroLeft button {
  padding-inline: 2rem;
  padding-block: 7px;
  background-color: #ed5876;
  border: 0;
  outline: none;
  border-radius: 7px;
  font-weight: 500;
}

#heroLeft h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

#heroLeft,
#heroRight {
  flex: 1 1 0;
}

#heroRight {
  display: flex;
  justify-content: center;
}

#heroRight img {
  flex: 1;
  object-fit: cover;
  max-height: calc(214px + 1rem);
  border-radius: 7px;
}

#first li,
#first p,
#heroRight img {
  color: hsl(0, 0%, 92%);
}

/* Second section */

#second h3 {
  color: #7a2738;
  margin-bottom: 3rem;
}

#second {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.randomInfoBox {
  width: 170px;
  height: 170px;
  border-radius: 16px;
}

#randomInfoWrapper {
  display: flex;
  gap: 2rem;
}

.randomInfo li {
  color: hsl(0, 0%, 38%);
}

.randomInfo {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 170px;
  text-align: center;
}

#box1 {
  background-color: #ed4c6c;
}

#box2 {
  background-color: #ba3c55;
}

#box3 {
  background-color: #6e2332;
}

#box4 {
  background-color: #7a2738;
}

/* Third */

.section-center#third {
  padding-inline: 14rem;
  display: flex;
  background-color: #ba3c55;
  color: hsl(0, 0%, 92%);
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.section-center#third h3 {
  margin-bottom: 0;
  font-weight: 600;
}

.section-center#third h4 {
  margin: 0;
  align-self: flex-end;
}
